.chatlog-header {
  background-color: rgba(73, 82, 76, 0.6);
  color: white;
}
.chatlog {
  background-color: rgba(73, 82, 76, 0.6);
  color: white;
}

.chatLogCard{
  border: hidden;
  

}

.temp {
  background-color: rgba(47, 226, 107, 0.6);
  color: white;
  margin: 0px;
  padding: 0px;
}
