@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import '../../styles/variables';

.container {
    background-color: rgba(94, 219, 241, 0.623);
    height: 80vh;
    width: 100%;
}

