@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import '../../styles/variables';

.grid:hover{
    background-color: rgba($primary, 0.3);
}

.custom-a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    
}
.custom-a:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

// .a-disabled {
//     pointer-events: none;
//     cursor: default;
//   }

